{% extends 'base_template.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
    <div class="receta">
        {% if receta.published_date %}
            <div class="date">
                {{ receta.published_date }}
            </div>
        {% endif %}
        <h2>{{ receta.title }}</h2>
        <p>{{ receta.ingredients }}</p>
        <p>{{ receta.text|linebreaksbr }}</p>
    </div>
    <br/><br/>
    <hr>
    <br/>
    <form action="{%url 'like_post' receta.pk%}" method="POST">
        {%csrf_token%}
        {%if user.is_authenticated%}
            {%if liked%}
                <button type="submit", name="receta_id", value="{{receta.id}}", class="btn btn-danger btn-sm">Unlike</button> - {{total_likes}} Likes
            {%else%}
                <button type="submit", name="receta_id", value="{{receta.id}}", class="btn btn-success btn-sm">Like</button> - {{total_likes}} Likes
            {%endif%}
        {%else%}
            <small>Inicie sesión para likear</small> - {{total_likes}} Likes
        {%endif%}
    </form>
{%endblock%}
</body>
</html>