{% load static%}

<p>
    <input id="boton-todas" type="submit" value="Todo">
    <input id="boton-entradas" type="submit" value="Entradas">
    <input id="boton-carnes" type="submit" value="Carnes">
    <input id="boton-pastas" type="submit" value="Pastas">
    <input id="boton-veggie" type="submit" value="Veggie">
    <input id="boton-sandwiches" type="submit" value="Sandwiches">
    <input id="boton-sopas" type="submit" value="Sopas">
    <input id="boton-postres" type="submit" value="Postres">
</p>

<div id="resultados">

    <p><strong>Ver de agregar todo el contenido</strong></p>

</div>


<script src ="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin = "anónimo"></script>
<script src ="{% static 'recetas/js/post_list.js'%}"></script>

