{% extends 'base_template.html' %}
<!DOCTYPE html>

<html>
    <head>
        <title>Recetas Publicadas</title>
    </head>
    <body>
    {%block content%}

        {% for rec in receta %}
            <div>
                <h2><a href="{% url 'post_detail' pk=rec.pk %}">{{ rec.title }}</a></h2>
                 <h5>
                    <a href="{% url 'show_profile_page' pk=rec.author.pk %}">{{ rec.author.profile }}</a>
                </h5>
                <p>Fecha de Publicación: {{ rec.published_date }}  Likes: {{ rec.total_likes}}</p>
                <p>Ingredientes: {{ rec.ingredients|safe  }} </p>
                <p>{{ rec.text|safe }}</p>


                <br>
            </div>
        {% endfor %}
    {%endblock%}
    </body>
</html>