{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {%block title%}
    <title>Mi Receta</title>
    {%endblock%}
</head>
<body>
{%block content%}
<div class="jumbotron">
    <div class="receta">
        {% if receta.published_date %}
            <div class="date">
                {{ receta.published_date }}
            </div>
        {% endif %}
        <h2>{{ receta.title }}</h2>
        <p> <img src = "{{ receta.imagen.url }}" width="300" height="300"/> </p>
        <p>{{ receta.ingredients|safe  }}</p>
        <p>{{ receta.text|safe }}</p>
        <a class="btn btn-dark" href="{% url 'post_edit' pk=receta.pk %}">Editar receta</a>
        <a class="btn btn-dark" href="{% url 'borrar_receta' pk=receta.pk %}"
        onClick="return confirm('¿Seguro que quieres eliminar la receta?');">
            Eliminar receta</a>
    </div>
</div>
{%endblock%}
</body>
</html>