{% extends 'base_template.html' %}
{% load static %}
{% block content %}

    <h1>Mi perfil</h1>
    <br/>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col md-2">
            <img src="{{page_user.profile.profile_pic.url}}" class="card-img">
        </div>
            <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{rec.author.first_name}}
                    {{rec.author.last_name}}
                </h5>
<p class="small text-muted">
                {%if page_user.profile.website_url%}
                    <a href="{{page_user.profile.website_url}}">Website</a>
                {%endif%}
                {%if page_user.profile.facebook_url%}
                    <a href="{{page_user.profile.facebook_url}}">Facebook</a>
                {%endif%}
                {%if page_user.profile.instagram_url%}
                    <a href="{{page_user.profile.instagram_url}}">Instagram</a>
                {%endif%}
                {%if page_user.profile.twitter_url%}
                    <a href="{{page_user.profile.twitter_url}}">Twitter</a>
                {%endif%}
                {%if page_user.profile.pinterest_url%}
                    <a href="{{page_user.profile.pinterest_url}}">Pinterest</a>
                {%endif%}
            </p>
                {{page_user.profile.bio}}
                <p class="card-text"></p>

            </div>
        </div>

        </div>

    </div>
 {% for rec in receta %}
            <div>
                <h2><a href="{% url 'post_detail2' pk=rec.pk %}">{{ rec.title }}</a></h2>
                <p>{{ rec.published_date }}</p>
                <p>{{ rec.ingredients }} </p>
                <p>{{ rec.text|linebreaksbr }}</p>

                <h5>
                </h5>
                <br>
            </div>
        {% endfor %}
</div>

    <br/><br/>
{% endblock content%}