{% extends 'base_template.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
    <div class="receta">
        {% if receta.published_date %}
            <div class="date">
                {{ receta.published_date }}
            </div>
        {% endif %}
        <h2>{{ receta.title }}</h2>
        <h2>{{ receta.ingredients }}</h2>
        <p>{{ receta.text|linebreaksbr }}</p>
    </div>
{%endblock%}
</body>
</html>