{% extends 'base_template.html' %}
<!DOCTYPE html>

<html>
    <head>
        <title>Tus publicaciones</title>
    </head>
    <body>
    {%block content%}
        <div>
            <h1><a href="/">El encuentro</a></h1>
        </div>

        {% for seg in Seguidores %}
            <div>
                <h2><a href="{% url 'list_detail' pk=seg.pk %}">{{ "Lista Seguidores" }}</a></h2>
                <p>{{ seg.user }}</p>
                <p>{{ seg.seguidor }} </p>
            </div>
        {% endfor %}
    {%endblock%}
    </body>
</html>