<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 style="color: tomato">
    Solo falta un último paso: activar tu cuenta!
    </h1>
    {% if request.user.is_authenticated%}
            <li> <a href="/recipes"><font face="verdana">Ver recetas</font></a></li>
            <li><a href="/accounts/logout"><font face="verdana">Cerrar sesion</font></a></li>
        {%else%}
            <li><a href="/home"><font face="verdana">Ir al inicio</font></a></li>

            <!--<li><a href="/accounts/login"><font face="verdana">Iniciar sesion</font></a></li>
            <li><a href="/register"><font face="verdana">Registrarse</font></a></li>
            <li> <a href="/recipes"><font face="verdana">Ver recetas</font></a></li>-->
    {%endif%}

</body>
</html>