{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{%block content%}
    <h2>Autenticacion</h2>
    <form action ="" method="POST">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>
        <br>
        <button type="submit" class="btn btn-dark">Login</button>
        <button type="reset" class="btn btn-dark">Limpiar</button>
        <a class="btn btn-dark" href="{%url 'password_reset'%}"><font face="verdana">Olvidé mi contraseña</font></a>
        
    </form>
{%endblock content%}
</body>
</html>